body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: lightblue;
  font-family: Arial;
}

.card {
  background: white;
  width: 400px;
  height:200px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

#quote {
  font-size: 20px;
  margin: 20px 0;
}

#author {
  color: gray;
}

button {
  padding: 10px 20px;
  border: none;
  background: green;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}